RewriteEngine On
RewriteBase /minimarket/publico/

# Si el archivo o carpeta NO existe, redirigir a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]